asgiref
bleach
certifi
charset-normalizer
Django>4.2,<4.3
django-debug-toolbar
django-extensions
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
idna
Jinja2
MarkupSafe
Pillow
pytz
requests
six
sqlparse
typing_extensions
urllib3
webencodings
django-environ
mysqlclient
django_compressor
